{% extends "index.njk" %}
{% block content %}
    <h1>CHECK-LIST MANUTENÇÃO PREDIAL</h1>
    <section class="card">
        <fieldset>
            <div class="line">
                <p>
                    <span>ÓRGÃO:</span>
                    {{ organization.name }}
                </p>
                <p style="flex: 2">
                    <span>UNIDADE ADMINISTRATIVA:</span>
                    {{ property.name }}
                </p>
            </div>
            <div class="line">
                <p>
                    <span>RESPONSÁVEL PELA UNIDADE:</span>
                    {{ property.person.name }}
                </p>
            </div>
            <div class="line">
                <p>
                    <span>CARGO:</span>
                    {{ property.person.role }}</p>
                <p>
                    <span>TEL.:</span>
                    {{ property.person.phone }}</p>
            </div>
        </fieldset>
    </section>
    <section class="card">
        <table>
            <thead>
                <tr>
                    <th width="100%"></th>
                    <th>
                        <div>
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="#22c55e"
                                id="Layer_1"
                                data-name="Layer 1"
                                viewBox="0 0 24 24"
                                width="24"
                                height="24">
                                <path d="m12,0C5.383,0,0,5.383,0,12s5.383,12,12,12,12-5.383,12-12S18.617,0,12,0Zm-.091,15.419c-.387.387-.896.58-1.407.58s-1.025-.195-1.416-.585l-2.782-2.696,1.393-1.437,2.793,2.707,5.809-5.701,1.404,1.425-5.793,5.707Z"/>
                            </svg>
                            BOM</th>
                    </div>
                    <th>
                        <div>
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1"
                                id="Capa_1"
                                x="0px"
                                y="0px"
                                viewBox="0 0 512 512"
                                style="enable-background:new 0 0 512 512;"
                                xml:space="preserve"
                                fill="#eab308"
                                width="24"
                                height="24">
                                <g>
                                    <path d="M256,512c141.385,0,256-114.615,256-256S397.385,0,256,0S0,114.615,0,256C0.153,397.322,114.678,511.847,256,512z
                                    M234.667,128c0-11.782,9.551-21.333,21.333-21.333c11.782,0,21.333,9.551,21.333,21.333v170.667
                                    c0,11.782-9.551,21.333-21.333,21.333c-11.782,0-21.333-9.551-21.333-21.333V128z
                                    M256,384c11.782,0,21.333,9.551,21.333,21.333
                                    s-9.551,21.333-21.333,21.333c-11.782,0-21.333-9.551-21.333-21.333S244.218,384,256,384z"/>
                                </g>
                            </svg>
                            REGULAR
                        </div>
                    </th>
                    <th>
                        <div>
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1"
                                id="Capa_1"
                                x="0px"
                                y="0px"
                                viewBox="0 0 512 512"
                                fill="#ef4444"
                                style="enable-background:new 0 0 512 512;"
                                xml:space="preserve"
                                width="24"
                                height="24">
                                <g>
                                    <path d="M256,0C114.615,0,0,114.615,0,256s114.615,256,256,256s256-114.615,256-256C511.847,114.678,397.322,0.153,256,0z
                                    M341.333,311.189c8.669,7.979,9.229,21.475,1.25,30.144c-7.979,8.669-21.475,9.229-30.144,1.25c-0.434-0.399-0.85-0.816-1.25-1.25
                                    L256,286.165l-55.168,55.168c-8.475,8.185-21.98,7.95-30.165-0.525c-7.984-8.267-7.984-21.373,0-29.64L225.835,256l-55.168-55.168
                                    c-8.185-8.475-7.95-21.98,0.525-30.165c8.267-7.984,21.373-7.984,29.64,0L256,225.835l55.189-55.168
                                    c7.979-8.669,21.475-9.229,30.144-1.25c8.669,7.979,9.229,21.475,1.25,30.144c-0.399,0.434-0.816,0.85-1.25,1.25L286.165,256
                                    L341.333,311.189z"/>
                                </g>
                            </svg>
                            RUIM</th>
                    </div>
                </tr>
            </thead>
            <tbody>
                {% for item in checklistItems %}
                    <tr>
                        <td class="item">
                            {{ item.item.name }}
                        </td>
                        <td>
                            <input disabled type="radio" value="bom" {% if item.score == 3 %} checked {% endif %}/>
                        </td>
                        <td>
                            <input disabled type="radio" value="regular" {% if item.score == 1 %} checked {% endif %}/>
                        </td>
                        <td>
                            <input disabled type="radio" value="ruim" {% if item.score == -2 %} checked {% endif %}/>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td style="text-align: start; font-weight: bold;">NOTA FINAL</td>
                    <td colspan="3" style="text-align: end; font-weight: bold;">
                        {% if score >= 2.5 %}
                            BOM
                        {% elif score > 1.49 %}
                            REGULAR
                        {% else %}
                            RUIM
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: end; font-weight: 300; font-size: 12px">
                        {{ score.toString().slice(0, 4) }}
                    </td>
                </tr>
            </tfoot>
        </table>
    </section>
    <section class="card">
        <fieldset>
            <div class="line">
                <p>
                    <span>RESPONSÁVEL PELA FISCALIZAÇÃO:</span>
                    {{ user.name }}
                </p>
            </div>
            <div class="line">
                <p style="flex: 2">
                    <span>CARGO:</span>
                    GESTÃO DE PATRIMÔNIO</p>
                <p>
                    <span>DATA:</span>
                    {{ finished_at | formatDate }}
                </p>
                <p style="font-family: monospace">
                    <span style="font-family: 'Geist', sans-serif">ASSINATURA:</span>
                    {% if finished_at %}
                        DIGITAL
                    {% endif %}
                </p>
            </div>
        </fieldset>
    </section>
    <section style="display: flex; flex-direction: column; height: 100%;">
        <h1>IMAGENS</h1>
        {% for item in checklistItems %}
            <div class="card card-images" style="flex-grow: 1">
                <fieldset>
                    <div class="line">
                        <p>
                            <span>ITEM:</span>
                            {{ item.item.name }}
                        </p>
                        <p>
                            <span>PONTUAÇÃO:</span>
                            {% if item.score == 3 %}
                                BOM
                            {% elif item.score == 2 %}
                                REGULAR
                            {% else %}
                                RUIM
                            {% endif %}
                        </p>
                    </div>
                    <div class="line">
                        <p style="text-wrap: wrap; word-break: break-all;">
                            <span>OBSERVAÇÃO:</span>
                            {{ item.observation }}
                        </p>
                    </div>
                </fieldset>
                <div class="images-grid">
                    {% for image in item.images %}
                        <figure>
                            <img src={{ BUCKET_URL + image.image }} alt="Minha Figura"/>
                            <figcaption>{{ image.observation }}</figcaption>
                        </figure>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}