<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>{% include "./components/page.njk" %}</style>
    <style>{% include "./public/styles.css" %}</style>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/pagedjs/dist/paged.polyfill.min.js"></script>
    <script>{% include "./public/script.js" %}</script>
    <title>{{ sid }}</title>
  </head>
  <body>
    <div class="logo-footer">
      <img src="https://seplag.mt.gov.br/img/LOGO%20SEPLAG%20-%20BRANCO%20(T)%20VAZADO.png" alt="seplag-logo"/>
    </div>
    <div class="footer">
      <h3>SEAPS</h3>
      <p>Secretaria Adjunta de Patrimônio e Serviços</p>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>